:root {
  --color-blue: #6C7FE3;
  --color-gray-light: #bcbcbc;
  --color-gray-ultra-light: #dcdcdc;
  --color-gray-ultra-ultra-light: #f1f1f1;;
  --color-gray: #787878;
  --color-sky-blue: #9EC0D3;
  --color-sky-light-blue: #87B3CB;
}