@import "../../../../app/styles/mixins/mixins";

.ProductCard {
  @include addDefaultBorder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
  //>:not(:last-child) {
  //  margin-bottom: 10px;
  //}
  position: relative;
  overflow: hidden;
  height: 320px;
}

.imageContent {
  width: 100%;
  height: 70%;
  position: relative;
  > img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
}