@import "../../../../app/styles/mixins/mixins";
@import "../../../../app/styles/variables/adaptive";
.ProductCard {
  @include addDefaultBorder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 360px;
  @media($isTablet) {
    max-width: 380px;
  }
}

.imageContent {
  width: 100%;
  height: 70%;
  position: relative;
  > img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
}