@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('./Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('./Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('./Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('./Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./Montserrat/Montserrat-Light.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url('./Montserrat/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url('./Montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('./Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: block;
  src: url('./Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('./Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: block;
  src: url('./Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('./Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url('./Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url('./Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: block;
  src: url('./Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('./Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: block;
  src: url('./Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
}

.font-regular12 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.font-regular16 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.font-regular18 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.font-medium16 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.font-medium20 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.font-bold32 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}

.font-bold24 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.font-light14 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.font-semibold18 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.font-semibold24 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
}