.wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;

}
.ModalContent {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 20px;
  display: flex;

  gap: 20px;

  scrollbar-width: thin;
  flex-direction: column;
  img {
    width: 100%;
  }
}
.topContent {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.bottomContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  > :nth-child(2) {
    color: var(--color-sky-blue)
  }
}