.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: Rgba(0 0 0 / 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 20px;
}
.content {
  max-width: 600px;
  flex: 0 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  transition: 0.3s transform;
  transform: translateY(-50px);
}
.opened {
  display: block;
  z-index: 1000;
  opacity: 1;
  .content {
    transform: translateY(0px);
  }
}
.isClosing {
  opacity: 0;
  .content {
    transform: translateY(-50px);
  }
}

.exitBtn {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 1000;
  > div {
    position: absolute;
    background-color: var(--color-sky-blue);
    width: 100%;
    height: 0.28em;
  }
  >:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  >:nth-child(2) {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }
}

.exitBtn:hover {
  opacity: 0.7;
}
