.itemsGrid {
  position: relative;
  width: 100%;
}
.title {
  margin-bottom: 20px;
}
.grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  gap: 20px;
}